{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

<div class="col-xs-11">
    <h3>Edit your details here</h3></br>

    {{ form_start(form, {
        'action': path('fos_user_profile_edit'),
        'attr': { 'class': 'fos_user_profile_edit' }
    }) }}

        {{ form_row(form.email) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.current_password) }}

        <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />

    {{ form_end(form) }}
</div>
