{# src/ReservationBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block sidebar %}{{ parent() }}{% endblock %}
{% block body %}{{ parent() }}{% endblock %}
{% block sizeguide %}{{ parent() }}{% endblock %}