{% extends "::base.html.twig" %}

{% block body %}

    <div class="row navigation text-center col-md-9 col-sm-12 col-xs-12">
        {{ knp_pagination_render(items) }}
    </div>

    {% for message in app.flashes('out-of-stock') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <section class="basket-items row col-md-8 col-sm-8 col-xs-11">

        {%  for item in items %}

            <div class="row col-md-12 col-sm-12 col-xs-12">
                <div id="basket-image" class="col-md-4 col-sm-5 col-xs-7">
                    <a href="{{ path('product_view', {id: item.product}) }}">
                        <img src="{{ asset('images/products/' ~ item.image ) }}" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-5">
                    <h4><b>{{ item.name }}</b></h4>
                    <h5>{{ item.colour }}</h5>
                    <h5>Size {{ item.size }}</h5>
                    {% if notInStock[item.id] is defined %}
                        <h5>Qty Selected: {{ item.quantity }} </h5>
                        <h5 class="text-danger">Qty Available: {{ notInStock[item.id] }}</h5>
                    {% else %}
                        <h5>Qty: {{ item.quantity }}</h5>
                    {% endif %}

                    <h4>£{{ ((item.price * item.quantity)/100)|number_format(2) }}</h4>
                    <label>
                        <input class="btn btn-danger" value="Remove" type="button">
                        <span id="basket-id" class="hidden">{{ item.id }}</span>
                    </label>
{#                    <button class="glyphicon glyphicon-ban-circle btn btn-danger">#}
{#                        <b>Remove</b>#}
{#                    </button>#}
{#                    <span id="basket-id" class="hidden">{{ item.id }}</span>#}
                    {% if notInStock[item.id] is defined %}
                        <h4 class="text-danger">Not in Stock</h4>
                    {% endif %}
                </div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

        {% endfor %}

    </section>

    <div class="checkout row col-md-4 col-sm-4 col-xs-11">
        <div class="col-xs-12 text-center">
            <h4><b>Total: £{{ (totalAmount/100)|number_format(2) }}</b></h4>
        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12"><hr></div>
        <button id="checkout-button" class="glyphicon glyphicon-gbp btn btn-primary col-xs-12">
            <b>Checkout</b>
        </button>
    </div>

    <div class="row navigation text-center col-md-9 col-sm-12 col-xs-12">
        {{ knp_pagination_render(items) }}
    </div>

    <script src="{{ asset('js/checkout.js') }}"></script>
    <script src="{{ asset('js/remove-basket.js') }}"></script>

{% endblock %}
