{% extends 'ShoppingCartBundle::layout.html.twig' %}

{% block body %}

    <div class="row navigation text-center col-md-9 col-sm-12 col-xs-12">
        {{ knp_pagination_render(products) }}
    </div>

    <section class="products row col-md-9 col-sm-10 col-xs-12">

        {%  for product in products %}

            <a class="product-card" href="{{ path('product_view', {id: product.id}) }}">
            <div>
                <div class="product-image"><img src="{{ asset('images/products/' ~ product.image ) }}" alt="" /></div>
                <div class="product-info">
                    <h5>{{ product.name }}</h5>
                    <h4><b>£{{ product.price }}</b></h4>
                </div>
            </div>
            </a>

        {% endfor %}

    </section>

    <div class="row navigation text-center col-md-9 col-sm-12 col-xs-12">
        {{ knp_pagination_render(products) }}
    </div>

{% endblock %}