{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

<div class="col-xs-11">
    <h3> Here you can change your password </h3></br>

    {{ form_start(form, {
        'action': path('fos_user_change_password'),
        'attr': { 'class': 'fos_user_change_password' }
    }) }}

        {{ form_row(form.current_password) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.plainPassword) }}

        <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />

    {{ form_end(form) }}
</div>