footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: inherit;
    text-align: center;
    color: #fff;
    background-color: #000;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0.9;
    z-index: 1030;
}

.container {
    padding: 0;
}

body {
    min-height: 75rem;
}

.fos_user_registration_register,
.fos_user_profile_edit,
.fos_user_change_password {
    max-width: 450px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 5px;
}

#navCollapse ul li a:hover {
    color: #ffffff;
    background: #000000;
}

#sidebarCollapse {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#sizeGuideCollapse {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#mainContent {
    padding-top: 8rem;
    padding-bottom: 45px;
}

.navbar {
    border-radius: 5px;
}

article img {
    width: 120px;
    height: 150px;
}

article button {
    margin: 5px;
    width: 110px;
}

@media (max-width: 768px) {
    nav.navbar {
        width: inherit;
        left: 0;
    }
    footer {
        width: 100%;
    }
    .navbar-brand {
        font-size: medium;
        padding-right: 0;
    }
    .fos_user_registration_register,
    .fos_user_profile_edit,
    .fos_user_change_password {
        max-width: 250px;
        min-width: 200px;
    }
}

@media (min-width: 768px) {
    nav.navbar {
        width: inherit;
        left: 50%;
        transform: translateX(-50%);
    }
}

/** -----------------------------------------------------*/
/*                  SIDEBAR STYLE                        */
/*------------------------------------------------------**/

#sidebar {
    padding-top: 6rem;
    width: 250px;
    position: fixed;
    height: 95%;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    border-radius: 5px;
}

#sidebar.active {
    display: block;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss i {
    padding: 7px;
    border: solid #fff;
}

#dismiss:hover {
    background: #fff;
    border: none;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #7386D5;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/** -----------------------------------------------------*/
/*                  SIZE GUIDE STYLE                     */
/*------------------------------------------------------**/

#size-guide {
    padding: 0 10px;
    width: 250px;
    right: 15%;
    position: fixed;
    height: 85%;
    z-index: 999;
    background: #faf4ff;
    color: #000;
    transition: all 0.3s;
    overflow-y: -moz-scrollbars-vertical;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    border-radius: 5px;
}

#size-guide.active {
    display: block;
}

#dismiss-guide {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}

#dismiss-guide i {
    padding: 7px;
    border: none;
}

#dismiss-guide:hover {
    background: #7386D5;
    border: none;
    color: #fff;
}

#sizes-table {
    display: block;
    overflow: hidden;
    padding: 0 20px;
}

#sizes-table table{
    width: 100%;
    max-width: 768px;
    margin: 0 auto 20px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.8rem;
    font-weight: 500;
}

#sizes-table table tbody tr th, #sizes-table table tbody tr td, #sizes-table table thead tr th {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/** -----------------------------------------------------*/
/*                  MAIN CONTENT STYLE                   */
/*------------------------------------------------------**/
.products *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products{
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    border: 5px solid darkgrey;
    padding: 2%;
    margin: 1%;
    flex: 1 0 100%;
}

.product-card:hover {
    opacity: 0.75;
}

.products:after {
    content: '';
    display: block;
    flex: 1 0 100%;
}

.product-card img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 15%;*/
    /*border: 5px solid darkgrey;*/
}

.product-info{
    margin-top: auto;
    text-align: center;
}

/** -----------------------------------------------------*/
/*                  PRODUCT PAGE STYLE                   */
/*------------------------------------------------------**/

.product-page-image img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-page-images {
    max-width: 10%;
}

.product-page-images img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.product-page-info{
    margin-top: auto;
    text-align: center;
}

:root {
    /* Set fade in duration */
    --fade-time: 0.25s;
}

/* Fade in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

/** -----------------------------------------------------*/
/*                  COLOUR LINKS                         */
/*------------------------------------------------------**/

.image-links {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

.image-link {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
}

.image-link img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    box-shadow: 0 0 0 2px #b7bac1;
}

#selected {
    box-shadow: 0 0 0 2px #22c114;
}

/** -----------------------------------------------------*/
/*                 SIZE BUTTONS                          */
/*------------------------------------------------------**/

.sizes {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    padding-bottom: 23px;
}

.sizes label {
    display: inline-block;
    max-width: 100%;
}

.sizes label span {
    display: block;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #333;
    padding: 12px;
    font-size: 1.3rem;
    margin: 0 8px 12px 0;
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.sizes label span:hover {
    color: #ffffff;
    background: #000000;
    opacity: 0.5;
}

.size-button {
    box-sizing: border-box;
    display: none;
}

.hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
}

#size-legend {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

#size-legend h4, #size-legend a{
    display: inline-block;
    box-sizing: inherit;
}

#size-legend a {
    color: #373fff;
    text-decoration: none;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    margin: auto 0 auto;
    text-align: center;
    cursor: pointer;
}

/** -----------------------------------------------------*/
/*                 BASKET PAGE                           */
/*------------------------------------------------------**/

#basket-image img {
    max-width: 100%;
    height: auto;
}

/** -----------------------------------------------------*/
/*                 DIFFERENT SCREEN SIZES                */
/*------------------------------------------------------**/

@media screen and (max-width: 600px){
    .product-card {
        flex: 1 0 35%;
    }
    .products:after {
        content: '';
        display: block;
        flex: 1 0 35%;
    }
    .product-page-images {
        max-width: 100%;
    }
    .product-page-images img {
        max-width: 10%;
    }
    .image-link {
        width: 15%;
        height: auto;
    }
    #size-guide {
        right: 0;
    }
}

@media screen and (max-width: 768px){
    .product-card {
        flex: 1 0 35%;
    }
    .products:after {
        content: '';
        display: block;
        flex: 1 0 35%;
    }
    .product-page-images {
        max-width: 100%;
    }
    .product-page-images img {
        max-width: 13%;
    }
    .image-link {
        width: 15%;
        height: auto;
    }
    #size-guide {
        right: 0;
    }
}

@media screen and (min-width: 768px){
    .product-card {
        flex: 1 0 35%;
    }
    .products:after {
        content: '';
        display: block;
        flex: 1 0 35%;
    }
    .product-page-images {
        max-width: 100%;
    }
    .product-page-images img {
        max-width: 12%;
    }
    .image-link {
        width: 15%;
        height: auto;
    }
    #size-guide {
        right: 10%;
    }
}

@media screen and (min-width: 992px){
    .product-card {
        flex: 0 0 29%;
    }
    .image-link {
        width: 25%;
        height: auto;
    }
    .product-page-images {
        max-width: 11%;
    }
    .product-page-images img {
        max-width: 90%;
    }
    #size-guide {
        right: 10%;
    }
}

@media screen and (min-width: 1300px) {
    #size-guide {
        right: 22%;
    }
}