{% extends 'ShoppingCartBundle::layout.html.twig' %}

{% block body %}

    <div class="row col-md-12 col-sm-12 col-xs-12">

        <div class="product-page-images row col-md-2 col-sm-12 col-xs-12">
            {% for image in images %}
                <img src="{{ asset('images/products/' ~ image.image ) }}" alt="">
            {% endfor %}
        </div>

        <div class="product-page-image row col-md-7 col-sm-12 col-xs-12">
            <img id="current" src="{{ asset('images/products/' ~ info.image ) }}" alt=""/>
        </div>

        <div class="product-page-info row col-md-3 col-sm-12 col-xs-12">
            <div class="prod-info">
                <h3><b>{{ info.name }}</b></h3>
                <h4>£{{ info.price }}</h4>
            </div>

            <br/>

            <div class="image-links">
                <legend> <h4>COLOUR  : {{ info.colour }}</h4> </legend>
                {% for colour in colours %}
                    <a class="image-link" href="{{ path('product_view', {id: colour.id}) }}">
                        {% if colour.id == info.id %}
                            <img id="selected" src="{{ asset('images/products/' ~ colour.image ) }}" alt="">
                        {% else %}
                            <img src="{{ asset('images/products/' ~ colour.image ) }}" alt="">
                        {% endif %}
                    </a>
                {% endfor %}
            </div>

            <br/>

            <form class="sizes">
                <legend id="size-legend">
                    <h4>SELECT SIZE</h4>
                    <a id="sizeGuideCollapse">Size guide</a>
                </legend>

                {% for size in sizes %}
                    <label>
                        {% if size.quantity > 0 %}
                            <input class="size-button" name="selected-size" type="radio">
                            <span id="shoe-size-label">{{ size.size }}</span>
                            <span id="size-id" class="hidden">{{ size.id }}</span>
                            <span id="size-quantity" class="hidden">{{ size.quantity }}</span>
                        {% endif %}
                    </label>
                {% endfor %}
            </form>

            <div>
                <button id="add-basket" class="btn btn-success col-xs-12">Add to basket</button>
            </div>

        </div>

    </div>

    <script src="{{ asset('js/photo-gallery.js') }}"></script>
    <script src="{{ asset('js/selected-size.js') }}"></script>

{% endblock %}
{% block sizeguide %}
    {{ parent() }}
    {% include '@ShoppingCart/Product/size-guide.html.twig' %}
{% endblock %}