<div id="size-guide">

    <div id="dismiss-guide">
        <i class="glyphicon glyphicon-remove"></i>
    </div>
    <h3><b>Size Guide</b></h3>

    <div id="sizes-table">
        <h4>ADULTS SHOE SIZES</h4>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>UK Size</th>
                    <th>EU Size</th>
                </tr>
            </thead>
            <tbody>
                {% for size in sizeGuide %}
                    <tr>
                        <th>{{ size.uk }}</th>
                        <td>{{ size.eu }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="{{ asset('js/size-guide.js') }}"></script>
