 /*Breakpoints*/
$bp1: 600px;
$bp2: 800px;
$bp3: 1080px;

 /*Reset*/
 *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
 }

.product-filter{
    display: flex;
    background-color: #ddd;

    h1{
        flex-grow: 1;
    }

    .sort{
        display: flex;
        background-color: #bbb;
    }

    .collection-sort{
        display: flex;
        flex-direction: column;
    }
}

.products{
    display: flex;
    flex-wrap: wrap;
}
.product-card{
    padding: 2%;
    flex: 1 100%; /*// shorthand of flex-grow + flex-basis*/

    @media screen and (min-width: $bp1){
        flex: 1 50%;
    }
    @media screen and (min-width: $bp2){
        flex: 1 25%;
    }
    @media screen and (min-width: $bp3){
        flex: 1 20%;
    }

    &:nth-child(1),
    &:nth-child(2){
        @media screen and (min-width: $bp2){
            flex-shrink: 2;
            flex-grow: 2;
            flex-basis: 50%;
        }
        @media screen and (min-width: $bp3){
            flex-shrink: 1;
            flex-grow: 1;
            flex-basis: 20%;
        }
    }

    img{
        max-width: 50%;
        height: auto;
    }

    .product-info{
        margin-top: auto;
        text-align: center;
    }
}