footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: inherit;
    text-align: center;
    color: #fff;
    background-color: #000;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0.9;
    z-index: 1030;
}

.container {
    padding: 0;
}

body {
    min-height: 75rem;
}

.fos_user_registration_register,
.fos_user_profile_edit,
.fos_user_change_password {
    max-width: 450px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 5px;
}

#navCollapse ul li a:hover {
    color: #ffffff;
    background: #000000;
}

#sidebarCollapse {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#mainContent {
    padding-top: 8rem;
    padding-bottom: 45px;
}

.navbar {
    border-radius: 5px;
}

article img {
    width: 120px;
    height: 150px;
}

article button {
    margin: 5px;
    width: 110px;
}

@media (max-width: 768px) {
    nav.navbar {
        width: inherit;
        left: 0;
    }
    footer {
        width: 100%;
    }
    .navbar-brand {
        font-size: medium;
        padding-right: 0;
    }
    .fos_user_registration_register,
    .fos_user_profile_edit,
    .fos_user_change_password {
        max-width: 250px;
        min-width: 200px;
    }
}

@media (min-width: 768px) {
    nav.navbar {
        width: inherit;
        left: 50%;
        transform: translateX(-50%);
    }
}

/** -----------------------------------------------------*/
/*                  SIDEBAR STYLE                        */
/*------------------------------------------------------**/

#sidebar {
    padding-top: 6rem;
    width: 250px;
    position: fixed;
    height: 100%;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    border-radius: 5px;
}

#sidebar.active {
    display: block;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss i {
    padding: 7px;
    border: solid #fff;
}

#dismiss:hover {
    background: #fff;
    border: none;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #7386D5;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
