{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

<div class="col-xs-11 col-sm-8 col-md-8">
    {{ form_start(form, {
        'action': path('fos_user_resetting_reset', {'token': token}),
        'attr': { 'class': 'fos_user_resetting_reset' }
    }) }}

        {{ form_widget(form) }}
        <div>
            <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
</div>
